name: Update Humour

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  download-fuel-price:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install jq
        run: sudo apt-get install jq

      # Fetch data from your API
      - name: Fetch API data
        run: |
          curl -X GET https://naas.isalman.dev/no -o tmp/humour_response.json
          
      - name: Commit
        run: |
            if git diff --exit-code; then
              echo "No changes to commit."
              exit 0
            else
              git config user.name "github-actions[bot]"
              git config user.email "github-actions[bot]@users.noreply.github.com"
              git add .
              git commit -m "update"
              git push origin main
            fi
